/* Shared css file for all shared popup styling. */

.popup {
  position: absolute;
  z-index: 5;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
}
.prompt {
  color: black;
}

.cancel-ok {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.cancel-ok button {
  border: 1px solid #494949;
  border-radius: 5px;
  width: 60px;
  color: #494949;
  padding: 0 6px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Copied from dropdown content */
/* Stuff inside the dropdown */
/* .popup button {
  color: #494949;
  padding: 7px 3px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 3rem;
  height: 80px;
  width: 80px;
} */
